<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light pt-3 fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/"> RemotePlatz </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
<!-- <button id="login" *ngIf="!userIsAuthenticated" type="button" class="btn-outline ms-auto login"
                routerLink="/login">
                Login
            </button> -->

<!-- <button *ngIf="userIsAuthenticated" type="button" class="btn ms-auto btn-danger btn-block"
                (click)="onLogout()"  routerLink="/login">
                Logout
            </button>

        </div>
    </div>
</nav> -->
<header>
  <div class="navbar">
    <div class="logo">
      <a href="#"> HR Job Board</a>
    </div>
    <ul class="links">
      <li><a href="hero">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
    <a href="#" class="action_btn">Get Started</a>
    <div class="toggle_btn" (click)="toggle()">
      <i class="bi bi-border-width" [ngClass]="update ? 'bi bi-x' : 'bi bi-border-width'"></i>
    </div>
  </div>
  <div class="dropdown_menu" [ngClass]="update ? 'open' : ''">
    <li><a href="hero">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="services">Services</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="#" class="action_btn">Get Started</a></li>
  </div>
</header>
