<div class="content">
  <div class="img"></div>
  <div class="form">
    <h2>Login with your email</h2>
    <form action="" [formGroup]="form" (ngSubmit)="onLogin()">
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button type="submit">Login</button>
    </form>
    <p>
      Don't have an account?<span><a routerLink="/register">Register</a></span>
    </p>
  </div>
</div>
